@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: 'Fira Code', monospace !important;
  }
  
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Fira Code', monospace !important;
  }
}